<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
      <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Briefer</title>
  </head>

  <body>
    <!-- Navigation Menu -->
    <section class="top-nav">
      <div id="briefer">Briefer</div>
      <input id="menu-toggle" type="checkbox" />
      <label class="menu-button-container" for="menu-toggle">
        <div class="menu-button"></div>
      </label>
      <ul class="menu">
        <li><a href="#politics">Politics</a></li>
        <li><a href="#business">Business</a></li>
        <li><a href="#entertainment">Entertainment</a></li>
        <li><a href="#sports">Sports</a></li>
        <li><a href="#international">International</a></li>
      </ul>
    </section>

    <!-- Main Content -->
    <div class="wrapper">
      <div class="content">

        <div class="news-sections news-sections-top">
          <div class="category-container">
            <h1 id="politics">Politics</h1>
            {% for post in politics_posts %}
                  <ul>
                    <li class="headline" onclick="toggleSummary(this)">
                      {{ post.headline }}
                      <p class="category">
                        <span>{{ post.category }}</span><span>|</span>
                        <span>{{ post.date }}</span><span>|</span>
                        <span>
                          <a href="{{ post.source_url }}" target="_blank">{{ post.source }}<i class="fa fa-external-link link-icon" style="margin-left: 5px"></i></a>
                        </span>
                      </p>
                      <div class="dropdown-content">
                        <p>{{ post.content }}</p>
                      </div>
                    </li>
                  </ul>
              {% endfor %}
          </div>
          <div class="category-container">
            <h1 id="business">Business</h1>
            {% for post in business_posts %}
                  <ul>
                    <li class="headline" onclick="toggleSummary(this)">
                      <a href="#">{{ post.headline }}</a>
                      <p class="category">
                        <span>{{ post.category }}</span><span>|</span>
                        <span>{{ post.date }}</span><span>|</span>
                        <span>
                          <a href="{{ post.source_url }}" target="_blank">{{ post.source }}<i class="fa fa-external-link link-icon" style="margin-left: 5px"></i></a>
                        </span>
                      </p>
                      <div class="dropdown-content">
                        <p>{{ post.content }}</p>
                      </div>
                    </li>
                  </ul>
              {% endfor %}
          </div>
          <div class="category-container">
            <h1 id="entertainment">Entertainment</h1>
            {% for post in entertainment_posts %}
                  <ul>
                    <li class="headline" onclick="toggleSummary(this)">
                      <a href="#">{{ post.headline }}</a>
                      <p class="category">
                        <span>{{ post.category }}</span><span>|</span>
                        <span>{{ post.date }}</span><span>|</span>
                        <span>
                          <a href="{{ post.source_url }}" target="_blank">{{ post.source }}<i class="fa fa-external-link link-icon" style="margin-left: 5px"></i></a>
                        </span>
                      </p>
                      <div class="dropdown-content">
                        <p>{{ post.content }}</p>
                      </div>
                    </li>
                  </ul>
              {% endfor %}
          </div>
          <div class="category-container">
            <h1 id="sports">Sports</h1>
            {% for post in sports_posts %}
                  <ul>
                    <li class="headline" onclick="toggleSummary(this)">
                      <a href="#">{{ post.headline }}</a>
                      <p class="category">
                        <span>{{ post.category }}</span><span>|</span>
                        <span>{{ post.date }}</span><span>|</span>
                        <span>
                          <a href="{{ post.source_url }}" target="_blank">{{ post.source }}<i class="fa fa-external-link link-icon" style="margin-left: 5px"></i></a>
                        </span>
                      </p>
                      <div class="dropdown-content">
                        <p>{{ post.content }}</p>
                      </div>
                    </li>
                  </ul>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebar-in"></div>
      </div>
    </div>
    <script src="static/js/script.js"></script>
  </body>
</html>
