* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ariel", sans-serif;
    padding: 50px 150px;
}

.title {
    margin-bottom: 50px;
}

.body-container {
    height: 80vh;
}

.blog-title {
    margin-bottom: 30px;

}